/* Single Line Comment */
/**
* Multi Line Comment
* Multi Line Comment
*/

* {
    /* Background */
    /* ======================================================================== */
    background-color: dodgerblue;
    background: rgba(0, 128, 0, 0.3); /* Green background with 30% opacity */
    /* Image */
    background-image: url("paper.gif");
    background-image: url("bg-desert.jpg");
    /* Repeat */
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat;
    background-repeat: no-repeat, repeat;
    /* Position */
    background-position: right top;
    /* Attachment */
    background-attachment: fixed;
    background-attachment: scroll;
    /* Origin */
    background-origin: content-box;
    /* Short Hand */
    /* background: #ffffff url("img_tree.png") no-repeat right top; */

    /*  
        Order Value
        When using the shorthand property the order of the property values is:
            background-color
            background-image
            background-repeat
            background-attachment
            background-position
    */

    /* Border */
    /* ======================================================================== */
    border-style: dotted;
    border-style: dashed;
    border-style: solid;
    border-style: double;
    border-style: groove;
    border-style: ridge;
    border-style: inset;
    border-style: outset;
    border-style: none;
    border-style: hidden;
    /* Single Property */
    border-style: solid;
    border-width: 5px;
    /* Short Hand */
    border-style: dotted dashed solid double;
    border: 5px solid red;
    border: 5px solid currentcolor;
    /* Border Color */
    border-color: red;
    border-color: #fff;
    border-color: rgb(0, 128, 0);
    border-color: rgba(0, 128, 0, 0.3);
    border-color: hsl(0, 100%, 50%);
    /* Border Value */
    border-style: dotted solid double dashed;
    /* 
        top border is dotted
        right border is solid
        bottom border is double
        left border is dashed
    */

    /* Border radius */
    /* ======================================================================== */
    border-radius: 25px;
    border-radius: 25%;
    border-radius: 25px 50px 75px 100px;
    /* Image */
    border: 10px solid transparent;
    border-image: url(border.png) 30 round;
    border-image: url(border.png) 30 stretch;

    /* Margin */
    /* ======================================================================== */
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    /* Short Hand */
    margin: 25px 50px 75px 100px;
    margin: 0 auto;
    margin: 0 2%;
    /* Padding */
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    /* Short Hand */
    padding: 25px 50px 75px 100px;
    padding: 0 auto;
    padding: 0 2%;

    /* Box-sizing */
    /* ======================================================================== */
    /* To keep the width at 300px, no matter the amount of padding, you can use the box-sizing property. This causes the element to maintain its actual width; if you increase the padding, the available content space will decrease. */
    box-sizing: border-box;

    /* Height */
    /* ======================================================================== */
    height: auto;
    height: 80px;
    height: 50%;
    height: initial;
    height: inherit;
    max-height: fit-content;
    max-height: max-content;
    max-height: min-content;
    max-height: 500px;

    /* Width */
    /* ======================================================================== */
    width: auto;
    width: 80px;
    width: 50%;
    width: initial;
    width: inherit;
    width: calc(100% - 100px);
    max-width: fit-content;
    max-width: max-content;
    max-width: min-content;
    max-width: 500px;

    /* Outline */
    /* ======================================================================== */
    outline-style: dotted;
    outline-style: dashed;
    outline-style: solid;
    outline-style: double;
    outline-style: groove;
    outline-style: ridge;
    outline-style: inset;
    outline-style: outset;
    /* Outline width */
    outline-width: thin;
    outline-width: medium;
    outline-width: thick;
    outline-width: 4px;
    outline-color: red; /* Use Color code */
    /* Short Hand */
    outline: thick ridge pink;
    outline: 5px solid yellow;

    /* Text */
    /* ======================================================================== */
    color: red; /* Use color Code. */
    background-color: lightgrey;
    text-align: left;
    text-align: center;
    text-align: right;
    text-align: justify;

    /* Align for last line */
    text-align-last: right;
    text-align-last: center;
    text-align-last: justify;

    /* Text Direction */
    direction: rtl;
    unicode-bidi: bidi-override;

    /* Vertical Alignment */
    /* vertical-align: baseline;
    vertical-align: text-top;
    vertical-align: text-bottom;
    vertical-align: sub;
    vertical-align: super; */

    /* CSS Text Decoration */
    text-decoration-line: overline;
    text-decoration-line: line-through;
    text-decoration-line: underline;
    text-decoration-line: overline underline;
    text-decoration-color: red; /* Use Color Code */
    text-decoration-style: double; /* Use Style Code */

    /* All in one */

    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: double;
    text-decoration-thickness: 5px; /* (optional) */

    /* Text Transformation */
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize; /* Toufiquer Rahman. */

    /*Text Shadow*/
    text-shadow: 2px 2px 5px red;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;

    text-indent: 50px; /* Text Indentation */
    letter-spacing: 5px; /* Letter Spacing */
    line-height: 0.8; /* Line Height */
    word-spacing: 10px; /* Word Spacing */
    white-space: nowrap; /* White Space */

    /* Font */
    /* ======================================================================== */
    font-family: "Times New Roman", Times, serif; /*Font Family*/
    font-size: 30px;
    font-size: 0.875em; /* 14px/16=0.875em */
    /* 16px = 1em */

    /* Font style */
    font-style: normal;
    font-style: italic;
    font-style: oblique;

    /* Font Weight */
    font-weight: normal;
    font-weight: bold;

    /* Font Variant */
    font-variant: normal;
    font-variant: small-caps;

    /* Responsive Font Size */
    font-size: 10vw;
    /* Short Hand */
    font: italic small-caps bold 12px/30px Georgia, serif;
    /*
    font-style
    font-variant
    font-weight
    font-size/line-height
    font-family
    */

    /* Styling Links */
    /* ======================================================================== */
    /* unvisited link */
    /* a:link */
    /* a:visited */
    /* a:hover  */
    /* a:active  */
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background: url("images.gif") -47px -45px; /* -45px dark effect */
    /* Cursor */
    /* ======================================================================== */
    cursor: auto;
    cursor: crosshair;
    cursor: default;
    cursor: e-resize;
    cursor: help;
    cursor: move;
    cursor: n-resize;
    cursor: ne-resize;
    cursor: nw-resize;
    cursor: pointer;
    cursor: progress;
    cursor: s-resize;
    cursor: se-resize;
    cursor: sw-resize;
    cursor: text;
    cursor: w-resize;
    cursor: wait;
    cursor: not-allowed;

    /* List Order */
    /* ======================================================================== */
    /* Unordered Lists: */
    list-style-type: circle;
    list-style-type: square;
    list-style-type: upper-roman;
    list-style-type: lower-alpha;

    /* Image */
    list-style-image: url("images.gif");

    /* Position */
    list-style-position: outside;
    list-style-position: inside;

    /* Table */
    /* ======================================================================== */
    /* th, td */
    /* tr:nth-child(even) */
    border-collapse: collapse;
    width: 100%;
    height: 70px;
    text-align: center;
    text-align: left;
    /* vertical-align: bottom; */

    /* The display Property */
    /* ======================================================================== */
    display: inline;
    display: block;
    display: none;
    visibility: hidden;

    /* Position */
    /* ======================================================================== */
    position: static;
    position: relative;
    position: absolute;

    position: fixed;
    bottom: 0;
    right: 0;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: -1;

    /* Overflow */
    /* ======================================================================== */
    overflow: visible;
    overflow: hidden;
    overflow: scroll;
    overflow: auto;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */

    /* Float */
    /* ======================================================================== */
    /*
        float: right;
        float: left;
        float: none;
    */
    /* Clear */
    /* ======================================================================== */
    clear: left;
    clear: right;
    clear: both;

    /* Pseudo Element */
    /* ======================================================================== */
    /*
    Selector	            Example	                Example description
    ----------------------------------------------------------------------------------------------
    https://www.w3schools.com/css/css_pseudo_classes.asp
    ----------------------------------------------------------------------------------------------
    :active	                a:active	            Selects the active link
    :checked	            input:checked	        Selects every checked <input> element
    :disabled	            input:disabled	        Selects every disabled <input> element
    :empty	                p:empty	                Selects every <p> element that has no children
    :enabled	            input:enabled	        Selects every enabled <input> element
    :first-child	        p:first-child	        Selects every <p> elements that is the first child of its parent
    :first-of-type	        p:first-of-type	        Selects every <p> element that is the first <p> element of its parent
    :focus	                input:focus	            Selects the <input> element that has focus
    :hover	                a:hover	                Selects links on mouse over
    :in-range	            input:in-range	        Selects <input> elements with a value within a specified range
    :invalid	            input:invalid	        Selects all <input> elements with an invalid value
    :lang(language)	        p:lang(it)	            Selects every <p> element with a lang attribute value starting with "it"
    :last-child	            p:last-child	        Selects every <p> elements that is the last child of its parent
    :last-of-type	        p:last-of-type	        Selects every <p> element that is the last <p> element of its parent
    :link	                a:link	                Selects all unvisited links
    :not(selector)	        :not(p)     	        Selects every element that is not a <p> element
    :nth-child(n)	        p:nth-child(2)	        Selects every <p> element that is the second child of its parent
    :nth-last-child(n)	    p:nth-last-child(2)	    Selects every <p> element that is the second child of its parent, counting from the last child
    :nth-last-of-type(n)	p:nth-last-of-type(2)	Selects every <p> element that is the second <p> element of its parent, counting from the last child
    :nth-of-type(n)	        p:nth-of-type(2)	    Selects every <p> element that is the second <p> element of its parent
    :only-of-type	        p:only-of-type	        Selects every <p> element that is the only <p> element of its parent
    :only-child	            p:only-child	        Selects every <p> element that is the only child of its parent
    :optional	            input:optional	        Selects <input> elements with no "required" attribute
    :out-of-range	        input:out-of-range	    Selects <input> elements with a value outside a specified range
    :read-only	            input:read-only	        Selects <input> elements with a "readonly" attribute specified
    :read-write	            input:read-write	    Selects <input> elements with no "readonly" attribute
    :required	            input:required	        Selects <input> elements with a "required" attribute specified
    :root	                root	                Selects the document's root element
    :target	                #news:target	        Selects the current active #news element (clicked on a URL containing that anchor name)
    :valid	                input:valid	            Selects all <input> elements with a valid value
    :visited	            a:visited	            Selects all visited links


    Selector	    Example	        Example description
    -----------------------------------------------------------------------------------------
    ::after	        p::after	    Insert content after every <p> element
    ::before	    p::before	    Insert content before every <p> element
    ::first-letter	p::first-letter	Selects the first letter of every <p> element
    ::first-line	p::first-line	Selects the first line of every <p> element
    ::selection	    p::selection	Selects the portion of an element that is selected by a use
    */

    /* Opacity */
    /* ======================================================================== */
    opacity: 0.5; /* 0 - 1*/

    /* Navigation Bars */
    /* ======================================================================== */
    /* Vertical */
    /* Horizontal */

    /* Dropdown */
    /* ======================================================================== */
    /* 
        Parents => position: relative
        Child   => position: absolute, display: none
        Parents => Hover => Child => display: block
    */

    /* input[type=text] */
    /* ======================================================================== */
    /* input[type=text] */

    /* Specificity */
    /* ======================================================================== */
    /*
        Selector	        Specificity Value
        ------------------------------------------------------------------------
        p	                1
        .test(class)        10
        #test(id)           100
        style=""(inline)    1000
    */

    /* Important */
    /* ======================================================================== */
    background-color: red !important;

    /* Math Calculation */
    /* ======================================================================== */
    width: calc(100% - 100px);
    height: calc(100vh - 100px);
    /* calc() / max() / min() */

    /* Gradients */
    /* ======================================================================== */
    /* Linear Gradients */
    background-image: linear-gradient(red, yellow);
    background-image: linear-gradient(to right, red, yellow);
    background-image: linear-gradient(to bottom right, red, yellow);

    /* Radial Gradients */
    background-image: radial-gradient(red, yellow, green);
    background-image: radial-gradient(circle, red, yellow, green);
    background-image: radial-gradient(
        farthest-side at 60% 55%,
        red,
        yellow,
        black
    );

    /* Conic Gradient */
    background-image: conic-gradient(red, yellow, green);
    background-image: conic-gradient(red, yellow, green, blue, black);

    background-image: conic-gradient(
        red 0deg,
        red 90deg,
        yellow 90deg,
        yellow 180deg,
        green 180deg,
        green 270deg,
        blue 270deg
    );
    border-radius: 50%;

    /* closer */
    /* https://www.w3schools.com/css/tryit.asp?filename=trycss3_gradient-radial_size */

    /* Shadow */
    /* ======================================================================== */
    text-shadow: 2px 2px;
    text-shadow: 0 0 3px #ff0000;
    box-shadow: 10px 10px lightblue;

    /* Overflow */
    /* ======================================================================== */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: keep-all;
    word-break: break-all;

    writing-mode: horizontal-tb;
    writing-mode: vertical-rl;
    writing-mode: vertical-rl;

    /* Animation */
    /* ======================================================================== */
    /* The Transforms Method */
    transform: translate(50px, 100px);
    transform: rotate(20deg);
    transform: rotate(-20deg);
    transform: scale(2, 3);
    transform: scaleX(2);
    transform: scaleY(3);
    transform: skewX(20deg);
    transform: skewY(20deg);
    transform: skew(20deg, 10deg);
    transform: matrix(1, -0.3, 0, 1, 0, 0);

    transform: rotateX(150deg);
    transform: rotateY(150deg);
    transform: rotateZ(90deg);

    transition-timing-function: linear;
    transition-timing-function: ease;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
    transition-timing-function: ease-in-out;

    transition-delay: 1s;

    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
    transition: width 2s linear 1s;

    /* transition: width 2s, height 4s; */
    transition: all 2s;
    /* https://www.w3schools.com/css/css3_2dtransforms.asp */
    /* Animation Keyframe */
    /* https://www.w3schools.com/css/css3_animations.asp */

    /* Tooltips */
    /* ======================================================================== */
    /* https://www.w3schools.com/css/css_tooltip.asp */

    /* Image filter */
    /* ======================================================================== */
    filter: grayscale(100%);
    /* ******* */
    /* https://www.w3schools.com/css/tryit.asp?filename=trycss_css_image_overlay_slidebottom */

    /* Object-fit */
    /* ======================================================================== */
    object-fit: cover;
    object-fit: fill;
    object-fit: contain;
    object-fit: none;
    object-fit: scale-down;
    object-position: 80% 100%;

    /* Masking */
    /* ======================================================================== */
    /* https://www.w3schools.com/css/css3_masking.asp */

    /* Pagination */
    /* ======================================================================== */
    /* https://www.w3schools.com/css/css3_pagination.asp# */
    /* ======================================================================== */
    /* ======================================================================== */
    /* ======================================================================== */
}

/* https://www.w3schools.com/css/css3_multiple_columns.asp */
